1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "AlphaSonic"
      VALUE "FileDescription", "FPS_Cube"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "FPS_Cube"
      VALUE "LegalCopyright", "FPS_Cube"
      VALUE "OriginalFilename", "FPS_Cube.exe"
      VALUE "ProductName", "FPS_Cube"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1               ICON    DISCARDABLE     "irr.ico"
